.cardForm {
    margin: 0 auto;
    padding: 10px 17px 10px 10px;
    width: 300px;
    background-color: rgb(98, 87, 87);
    & input {
        width: 100%;
        margin-bottom: 5px;
    }
    & button {
        width: 102.5%;
    }
}